.profile{
    box-sizing: border-box;
    width: 500px;
    padding: 20px;
    border: 5px solid orange;
    margin: auto;
    background-color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: yellow;
    border-radius: 20px;
    box-shadow: 0 10px 40px orange;
    margin-bottom: 20px;
    
}
.profile:hover {
    background-color: orange;
    color: brown;
    border-color: yellow;
    box-shadow: 0 10px 40px yellow;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: auto;
}


