

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #8B4513;
}


h2, p {
    font-family: Arial, sans-serif;
}


.menu p {
    color: #444444;
}

.menu p:hover {
    color: red;
    background-color: #FFF3CD;
}


.menu {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #FFF8E7;
    border-radius: 10px;
    box-shadow: 0 14px 20px rosybrown;
}

